<div class="bg-dark heightT">
  <app-navbar></app-navbar>

  <div class="login">
    <h1 class="display-5 text-center text-light">login</h1>

    <form class="form col-8" [formGroup]="formularioDeRegistro" (ngSubmit)="onSubmit()">

      <input type="email" class="form-control" formControlName="email" placeholder="email" autofocus>

      <input type="text" class="form-control" formControlName="password" placeholder="password">

      <div class="container d-flex justify-content-around">
        <button type="submit" class="btn btn-primary">send</button>
      </div>

    </form>
  </div>



  <div class="container d-flex justify-content-around">
    <button class="btn btn-primary my-5" (click)="onClick()">login With Google</button>
    <button class="btn btn-primary my-5" routerLink="/register">I hav`nt an account</button>
  </div>
</div>